// Variables
$green-text: green
$red-text: red
$orange-text: orange

$table-background-color: red

.input, .textarea
  box-shadow: none !important

/* Text Colors */
.text-green
  color: $green-text

.text-red
  color: $red-text

.text-orange
  color: $orange-text

.text-gray
  color: gray

/* Float */
.float-right
  float: right
  
.float-left
  float: left

/* Padding and Margins */
.p-20
  padding: 20px

.p-x-20
  padding: 0 20px

.p-y-20
  padding: 20px 0px

.p-l-20
  padding-left: 20px

.p-r-20
  padding-right: 20px

.m-20
  margin: 20px

.m-x-20
  margin: 0 20px

.m-y-20
  margin: 20px 0px

.m-l-20
  margin-left: 20px

.m-r-20
  margin-right: 20px